/* Catppuccin Frappe */
@define-color base   #303446;
@define-color mantle #292c3c;
@define-color crust  #232634;

@define-color text     #c6d0f5;
@define-color subtext0 #a5adce;
@define-color subtext1 #b5bfe2;

@define-color surface0 #414559;
@define-color surface1 #51576d;
@define-color surface2 #626880;

@define-color overlay0 #737994;
@define-color overlay1 #838ba7;
@define-color overlay2 #949cbb;

@define-color blue      #8caaee;
@define-color lavender  #babbf1;
@define-color sapphire  #85c1dc;
@define-color sky       #99d1db;
@define-color teal      #81c8be;
@define-color green     #a6d189;
@define-color yellow    #e5c890;
@define-color peach     #ef9f76;
@define-color maroon    #ea999c;
@define-color red       #e78284;
@define-color mauve     #ca9ee6;
@define-color pink      #f4b8e4;
@define-color flamingo  #eebebe;
@define-color rosewater #f2d5cf;

* {
  border-radius: 0;
  font-family: "FiraCode Nerd Font";
  font-size: 12pt;
  font-weight: bold;
}

window#waybar {
  border-radius: 8;
  background-color: alpha(@base, 0.85);
}

#custom-launcher {
  font-size: 20px;
}

#workspaces button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

#workspaces button.active {
  background-color: @blue;
}

#workspaces button.urgent {
  background-color: @peach;
}

#workspaces button:hover {
  background-color: @surface0;
}

#custom-launcher,
#workspaces,
#custom-spotify,
#window,
#cpu,
#memory,
#disk.root,
#disk.home,
#pulseaudio,
#backlight,
#battery,
#network,
#bluetooth,
#idle_inhibitor,
#clock,
#custom-power {
  padding-left: 8px;
  padding-right: 8px;
}

#custom-launcher {
  color: @blue;
}

#custom-spotify {
  color: @green;
}

#workspaces {
  color: @text;
}

#cpu {
  color: @maroon;
}

#memory {
  color: @teal;
}

#disk.root {
  color: @flamingo;
}

#disk.home {
  color: @flamingo;
}

#pulseaudio {
  color: @pink;
}

#backlight {
  color: @yellow;
}

#battery {
  color: @green;
}

#network {
  color: @lavender;
}

#bluetooth {
  color: @sapphire;
}

#idle_inhibitor {
  color: @rosewater;
}

#clock {
  color: @text;
}

#custom-power {
  color: @red;
}
