[Desktop Entry]
Comment=Custom theme and layout.
Name=Custom
X-KDE-PluginInfo-Author=Ethan Nhu Tran
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=me@entran.dev
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=MIT
X-KDE-PluginInfo-Name=Custom
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://www.entran.dev
X-KDE-ServiceTypes=Plasma/LookAndFeel
